USE [master]
GO
/****** Object:  Database [Kargo]    Script Date: 25.12.2022 07:13:21 ******/
CREATE DATABASE [Kargo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kargo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Kargo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kargo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Kargo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kargo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kargo]
GO
/****** Object:  Table [dbo].[Arac]    Script Date: 25.12.2022 07:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arac](
	[AracNo] [int] IDENTITY(1,1) NOT NULL,
	[AracTur] [varchar](50) NULL,
	[Kapasite] [int] NULL,
	[surucu] [varchar](50) NULL,
 CONSTRAINT [PK_Arac] PRIMARY KEY CLUSTERED 
(
	[AracNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 25.12.2022 07:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[MusteriNo] [int] IDENTITY(1,1) NOT NULL,
	[Sevkiyatid] [int] NULL,
	[madsoyad] [varchar](50) NULL,
	[Adres] [varchar](50) NULL,
	[Telefon] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[Odeme] [varchar](50) NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[MusteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sevkiyat]    Script Date: 25.12.2022 07:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sevkiyat](
	[SevkiyatNo] [int] IDENTITY(1,1) NOT NULL,
	[SevkiyatAdi] [varchar](50) NULL,
	[AlimNoktasi] [varchar](50) NULL,
	[UlasimNoktasi] [varchar](50) NULL,
	[Mesafe] [int] NULL,
	[Tutar] [int] NULL,
 CONSTRAINT [PK_Sevkiyat] PRIMARY KEY CLUSTERED 
(
	[SevkiyatNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
